/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/roboto/roboto-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./fonts/roboto/roboto-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/roboto-v16-latin-300.woff') format('woff'), /* Modern Browsers */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/roboto/roboto-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('./fonts/roboto/roboto-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/roboto-v16-latin-500.woff') format('woff'), /* Modern Browsers */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto/roboto-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto/roboto-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/roboto-v16-latin-700.woff') format('woff'), /* Modern Browsers */
}
