@import '_roboto';
@import '_material-icons';

@import '~select2/dist/css/select2.css';
@import '_select2-bootstrap.css';

.go-back:hover {
  cursor: pointer;
}

.chapter-list {
  overflow: auto;
}

.full-width {
  width: 100%;
}
