@import '_roboto';
@import '_material-icons';

@import '~select2/dist/css/select2.css';
@import '_select2-bootstrap.css';

.go-back:hover {
  cursor: pointer;
}

.chapter-list {
  overflow: auto;
}

.full-width {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1300px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1600px) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
  }
}
