@import '~typeface-roboto/index.css';
@import '~select2/dist/css/select2.css';

html, body {
    height: 100vh;
}

body {
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }

    .go-back:hover {
        cursor: pointer;
    }

    .chapter-list {
        overflow: auto;
    }

    .full-width {
        width: 100%;
    }
}
