{
  "presets": [
    ["env", {
      "targets": { "node": 6 },
      "useBuiltIns": true
    }],
    "electron",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "add-module-exports",
    "dynamic-import-webpack"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "babel-plugin-dev-expression"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        ["flow-runtime", {
          "assert": true,
          "annotate": true
        }]
      ]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
