{
  "parser": "babel-eslint",
  "extends": ["semistandard"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1}]
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
