@import '_roboto.less';
@import '_material-icons.less';

@import '~bootstrap/less/bootstrap.less';
@import '~font-awesome/less/font-awesome.less';

@import 'bootstrap-material-design/__bootstrap-material-design.less';
@import 'bootstrap-material-design/__ripples.less';

.go-back:hover {
    cursor: pointer;
}

.chapter-list {
    overflow: auto;
}

// Pagination
.pagination > .loaded {
    > a {
        border-color: #4caf50;
    }

    + li > a {
        border-left-color: #4caf50;
    }
}

.img-page {
    display: inline;

    &:hover {
        cursor: pointer;
    }
}
