.read {
    > h3 {
        color: #9e9e9e;
    }

    > p {
        color: #9e9e9e;
    }
}

.desc {
    transform: scaleY(-1);
}

h1.headline {
    margin-bottom: 8px;
}

.checkAll {
    float: right;
    margin-right: 19px;
}
