.pagination {
    margin: 5px 0;
}

.button {
    height: 36px;
    line-height: 36px;
    min-width: 36px;
    margin: 0;
    padding: 0;

    &.MuiButtonBase-root-1g {
        span.MuiButton-label-14 {
            display: inline-block;

            svg.MuiSvgIcon-root-52 {
                vertical-align: middle;
            }
        }
    }

}

.container {
    text-align: center;

    .imgPage {
        display: inline;
        max-width: 100%;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }
}
