.pagination {
    button {
        height: 36px;
        line-height: 36px;
        min-width: 36px;
        margin: 0px;
        padding: 0px;

        &.loaded {
            //color: #4caf50;
        }
    }
}

.container {
    text-align: center;

    .imgPage {
        display: inline;
        max-width: 100%;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }
}
