.pagination > .loaded {
    > a {
        border-color: #4caf50;
    }

    + li > a {
        border-left-color: #4caf50;
    }
}

.container {
    .imgPage {
        display: inline;

        &:hover {
            cursor: pointer;
        }
    }
}
