.manga {
    margin: 10px 0;
    transition: all 0.5s ease;

    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }

    .content {
        background-position: center;
        background-size: cover;
        height: 250px;
        position: relative;
        filter: saturate(0.6);

        &:hover {
            filter: saturate(1);
        }

        .title {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 55px;
            background: rgba(0, 0, 0, 0.50);
            color: white;

            p {
                margin-right: 40px;
                padding: 8px;
                font-weight: 500;
            }

            .badge {
                position: absolute;
                padding: 3px 7px;
                bottom: 27px;
                right: 5px;
                font-size: 12.03px;
                font-weight: 700;
                line-height: 1;
            }
        }
    }
}
