.manga {
    margin: 10px 10px;
    transition: all 0.5s ease;
    width: 165px;
    box-shadow:
        0 8px 17px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }

    .content {
        background-position: center;
        background-size: cover;
        height: 250px;
        position: relative;
        filter: saturate(0.6);

        &:hover {
            filter: saturate(1);
        }

        .title {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 55px;
            background: rgba(0, 0, 0, 0.50);

            .text {
                color: white;
                margin: 0 40px 8px 0;
                padding: 8px 0 0 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .badge {
                color: white;
                position: absolute;
                padding: 3px 7px;
                bottom: 18px;
                right: 5px;
                font-size: 12.03px;
                line-height: 1;
            }
        }
    }
}
